@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

/**
## Colors

### Primary

- Purple: hsl(259, 100%, 65%)
- Light red: hsl(0, 100%, 67%)

### Neutral

- White: hsl(0, 0%, 100%)
- Off white: hsl(0, 0%, 94%)
- Light grey: hsl(0, 0%, 86%)
- Smokey grey: hsl(0, 1%, 44%)
- Off black: hsl(0, 0%, 8%)
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/

:root {
  --color-purple: hsl(259, 100%, 65%);
  --color-red: hsl(0, 100%, 67%);
  --color-white: hsl(0, 0%, 100%);
  --color-off-white: hsl(0, 0%, 94%);
  --color-light-grey: hsl(0, 0%, 86%);
  --color-smokey-grey: hsl(0, 1%, 44%);
  --color-off-black: hsl(0, 0%, 8%);
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-off-white);
  color: var(--color-off-black);
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  place-content: center;
  height: 100vh;
}

input {
  font-size: 32px;
}
/* 
@media screen and (max-width: 768px) {
  body {
    max-width: 375px;
  }
} */
